main {
    padding: 0.5rem 1.0rem
}

.details {
    padding: 0.5rem 0;
}

button {
    border: 0;
    border-radius: 5px;
    padding: 0.6rem 1rem;
    font-size: 1.2rem;
}

.login-btn {
    color: #fff;
    background-color: rgb(46, 45, 45);
}

.get-me-btn {
    color: #fff;
    background-color: rgb(0, 96, 175);
}